.c1{
    background-color: aqua;
}
.c2{
    background-color: aquamarine;
}
.c3{
    background-color: bisque;
}
.c4{
    background-color: blueviolet;
}
.c-h{
    border:1px black solid;
    height: 100px;
}